<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta charset="utf-8">

		<title>
			Alge ID -
			{% block title%}
			{% endblock %}	
		</title>

		<!-- Stylesheets-->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap-theme.min.css' %}">

		 <style type="text/css">
            html, body {
                height : 100%;
                width : 100%;
            }
        </style>
        		

	{% block extras %}
    	
	{% endblock %}


	</head>

	<body>
		<div class="container-fluid" style = "padding : 0px; min-height: 95%">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
	    			<!-- Brand and toggle get grouped for better mobile display -->
	    			<div class="navbar-header">
	      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        			<span class="sr-only">Toggle navigation</span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
	      				</button>
	      				
	      				<a class="navbar-brand" href="{% url 'core:recognize' %}">
	      					<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Algae ID
	      				</a>
	    			</div>

	    			<!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				     	<ul class="nav navbar-nav">
				        	<li>
				        		<a href="{% url 'core:recognize' %}">
				        			<span class="glyphicon glyphicon-eye-open"></span> Identify
				        		</a>
				        	</li>

				        	<li>
				        		<a href="{% url 'core:contribute' %}">
				        			<span class="glyphicon glyphicon-cloud-upload"></span> Contribute
				        		</a>
				        	</li>			        	

				        	<li>
				        		<a href="{% url 'core:about' %}">
				        			<span class="glyphicon glyphicon-user"></span> About
				        		</a>
				        	</li>
				      	</ul>
				      	
				      	<ul class="nav navbar-nav navbar-right">
				        	<li>
				        		<a href="/admin">
				        			<span class="glyphicon glyphicon-wrench"></span> Admin Page
				        		</a>
				        	</li>			        	
				      	</ul>
				    </div>
				  </div>
			</nav>
			<div class="container-fluid">
			{% block content %}

			{% endblock %}
			</div>
		</div>
		<footer>
            <a href='https://github.com/Pererva'>
				<span class="fa fa-github"></span> GitHub
			</a>
        </footer>
	</body>
</html>